<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="name">Recipe Name: </label>
    <input type="text" name="name" value="<%= @recipe.name %>">

    <label for="name">Ingredients: </label>
    <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">

    <label for="name">Cook Time: </label>
    <input type="number" name="cook_time" value="<%= @recipe.cook_time %>">
  <input id="submit" type="submit" value="Submit">
</form>
